.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.035645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.035645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.184000px;}
.ls4{letter-spacing:1.088000px;}
.ls5{letter-spacing:2.000000px;}
.ls1{letter-spacing:2.320000px;}
.ls2{letter-spacing:2.356000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.ws4{word-spacing:0.472000px;}
.ws5{word-spacing:4.532000px;}
.ws6{word-spacing:5.196000px;}
.ws3{word-spacing:6.440000px;}
.ws2{word-spacing:8.000000px;}
.ws1{word-spacing:8.124000px;}
._1{margin-left:-8.124000px;}
._3{margin-left:-6.440000px;}
._5{margin-left:-4.532000px;}
._4{width:4.508000px;}
._2{width:6.440000px;}
._0{width:8.120000px;}
._6{width:212.084000px;}
._7{width:228.308000px;}
._8{width:260.272000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs3{font-size:16.000000px;}
.fs4{font-size:22.000000px;}
.fs2{font-size:28.000000px;}
.fs0{font-size:40.000000px;}
.fs1{font-size:44.000000px;}
.y0{bottom:37.500000px;}
.y27{bottom:76.000000px;}
.y16{bottom:335.691000px;}
.y3d{bottom:341.690000px;}
.y26{bottom:369.983000px;}
.y4d{bottom:375.981000px;}
.y25{bottom:384.452000px;}
.y4c{bottom:390.450000px;}
.y23{bottom:397.883000px;}
.y24{bottom:401.183000px;}
.y4a{bottom:403.881000px;}
.y22{bottom:404.483000px;}
.y4b{bottom:407.181000px;}
.y49{bottom:410.481000px;}
.y21{bottom:418.952000px;}
.y48{bottom:424.950000px;}
.y20{bottom:447.730000px;}
.y47{bottom:453.728000px;}
.y15{bottom:454.271000px;}
.y3c{bottom:460.269000px;}
.y1f{bottom:462.199000px;}
.y46{bottom:468.197000px;}
.y1e{bottom:475.630000px;}
.y45{bottom:481.628000px;}
.y14{bottom:489.399000px;}
.y1d{bottom:490.099000px;}
.y3b{bottom:495.398000px;}
.y44{bottom:496.097000px;}
.y13{bottom:498.688000px;}
.y1c{bottom:503.530000px;}
.y3a{bottom:504.686000px;}
.y12{bottom:507.977000px;}
.y43{bottom:509.528000px;}
.y39{bottom:513.975000px;}
.y11{bottom:517.266000px;}
.y1b{bottom:517.999000px;}
.y38{bottom:523.264000px;}
.y42{bottom:523.997000px;}
.y10{bottom:526.554000px;}
.y37{bottom:532.552000px;}
.y1a{bottom:534.095000px;}
.y41{bottom:540.093000px;}
.y19{bottom:543.384000px;}
.yf{bottom:543.683000px;}
.y40{bottom:549.382000px;}
.y36{bottom:549.681000px;}
.y18{bottom:552.673000px;}
.ye{bottom:552.972000px;}
.y3f{bottom:558.671000px;}
.y35{bottom:558.970000px;}
.y17{bottom:573.478000px;}
.y3e{bottom:579.476000px;}
.yb{bottom:635.235000px;}
.yd{bottom:638.931000px;}
.y32{bottom:641.235000px;}
.ya{bottom:644.524000px;}
.y34{bottom:644.931000px;}
.y31{bottom:650.524000px;}
.y9{bottom:653.813000px;}
.y30{bottom:659.813000px;}
.y8{bottom:670.942000px;}
.y2f{bottom:676.942000px;}
.y7{bottom:696.097000px;}
.y2e{bottom:702.097000px;}
.y6{bottom:710.693000px;}
.y2d{bottom:716.693000px;}
.y5{bottom:731.860000px;}
.y2c{bottom:737.860000px;}
.y4{bottom:741.149000px;}
.y2b{bottom:747.149000px;}
.y3{bottom:750.437000px;}
.y2a{bottom:756.437000px;}
.yc{bottom:756.850000px;}
.y33{bottom:762.850000px;}
.y2{bottom:771.243000px;}
.y29{bottom:777.243000px;}
.y1{bottom:810.795000px;}
.y28{bottom:816.795000px;}
.h5{height:12.796875px;}
.h6{height:17.595703px;}
.h4{height:22.394531px;}
.h2{height:31.992188px;}
.h3{height:35.191406px;}
.h7{height:751.000000px;}
.h1{height:789.500000px;}
.h0{height:841.890000px;}
.w1{width:562.000000px;}
.w0{width:595.280000px;}
.x0{left:18.500000px;}
.x4{left:25.500000px;}
.x5{left:69.015000px;}
.x1{left:115.590000px;}
.x2{left:204.074000px;}
.x8{left:436.185000px;}
.x7{left:440.588000px;}
.x6{left:449.972000px;}
.xf{left:455.679000px;}
.x11{left:459.555000px;}
.x12{left:463.429000px;}
.x3{left:465.684000px;}
.xb{left:467.577000px;}
.xc{left:479.083000px;}
.xa{left:480.232000px;}
.xe{left:482.133000px;}
.xd{left:484.404000px;}
.x9{left:487.653000px;}
.x10{left:530.554000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.245333pt;}
.ls4{letter-spacing:1.450667pt;}
.ls5{letter-spacing:2.666667pt;}
.ls1{letter-spacing:3.093333pt;}
.ls2{letter-spacing:3.141333pt;}
.ws0{word-spacing:0.000000pt;}
.ws4{word-spacing:0.629333pt;}
.ws5{word-spacing:6.042667pt;}
.ws6{word-spacing:6.928000pt;}
.ws3{word-spacing:8.586667pt;}
.ws2{word-spacing:10.666667pt;}
.ws1{word-spacing:10.832000pt;}
._1{margin-left:-10.832000pt;}
._3{margin-left:-8.586667pt;}
._5{margin-left:-6.042667pt;}
._4{width:6.010667pt;}
._2{width:8.586667pt;}
._0{width:10.826667pt;}
._6{width:282.778667pt;}
._7{width:304.410667pt;}
._8{width:347.029333pt;}
.fs3{font-size:21.333333pt;}
.fs4{font-size:29.333333pt;}
.fs2{font-size:37.333333pt;}
.fs0{font-size:53.333333pt;}
.fs1{font-size:58.666667pt;}
.y0{bottom:50.000000pt;}
.y27{bottom:101.333333pt;}
.y16{bottom:447.588000pt;}
.y3d{bottom:455.586667pt;}
.y26{bottom:493.310667pt;}
.y4d{bottom:501.308000pt;}
.y25{bottom:512.602667pt;}
.y4c{bottom:520.600000pt;}
.y23{bottom:530.510667pt;}
.y24{bottom:534.910667pt;}
.y4a{bottom:538.508000pt;}
.y22{bottom:539.310667pt;}
.y4b{bottom:542.908000pt;}
.y49{bottom:547.308000pt;}
.y21{bottom:558.602667pt;}
.y48{bottom:566.600000pt;}
.y20{bottom:596.973333pt;}
.y47{bottom:604.970667pt;}
.y15{bottom:605.694667pt;}
.y3c{bottom:613.692000pt;}
.y1f{bottom:616.265333pt;}
.y46{bottom:624.262667pt;}
.y1e{bottom:634.173333pt;}
.y45{bottom:642.170667pt;}
.y14{bottom:652.532000pt;}
.y1d{bottom:653.465333pt;}
.y3b{bottom:660.530667pt;}
.y44{bottom:661.462667pt;}
.y13{bottom:664.917333pt;}
.y1c{bottom:671.373333pt;}
.y3a{bottom:672.914667pt;}
.y12{bottom:677.302667pt;}
.y43{bottom:679.370667pt;}
.y39{bottom:685.300000pt;}
.y11{bottom:689.688000pt;}
.y1b{bottom:690.665333pt;}
.y38{bottom:697.685333pt;}
.y42{bottom:698.662667pt;}
.y10{bottom:702.072000pt;}
.y37{bottom:710.069333pt;}
.y1a{bottom:712.126667pt;}
.y41{bottom:720.124000pt;}
.y19{bottom:724.512000pt;}
.yf{bottom:724.910667pt;}
.y40{bottom:732.509333pt;}
.y36{bottom:732.908000pt;}
.y18{bottom:736.897333pt;}
.ye{bottom:737.296000pt;}
.y3f{bottom:744.894667pt;}
.y35{bottom:745.293333pt;}
.y17{bottom:764.637333pt;}
.y3e{bottom:772.634667pt;}
.yb{bottom:846.980000pt;}
.yd{bottom:851.908000pt;}
.y32{bottom:854.980000pt;}
.ya{bottom:859.365333pt;}
.y34{bottom:859.908000pt;}
.y31{bottom:867.365333pt;}
.y9{bottom:871.750667pt;}
.y30{bottom:879.750667pt;}
.y8{bottom:894.589333pt;}
.y2f{bottom:902.589333pt;}
.y7{bottom:928.129333pt;}
.y2e{bottom:936.129333pt;}
.y6{bottom:947.590667pt;}
.y2d{bottom:955.590667pt;}
.y5{bottom:975.813333pt;}
.y2c{bottom:983.813333pt;}
.y4{bottom:988.198667pt;}
.y2b{bottom:996.198667pt;}
.y3{bottom:1000.582667pt;}
.y2a{bottom:1008.582667pt;}
.yc{bottom:1009.133333pt;}
.y33{bottom:1017.133333pt;}
.y2{bottom:1028.324000pt;}
.y29{bottom:1036.324000pt;}
.y1{bottom:1081.060000pt;}
.y28{bottom:1089.060000pt;}
.h5{height:17.062500pt;}
.h6{height:23.460938pt;}
.h4{height:29.859375pt;}
.h2{height:42.656250pt;}
.h3{height:46.921875pt;}
.h7{height:1001.333333pt;}
.h1{height:1052.666667pt;}
.h0{height:1122.520000pt;}
.w1{width:749.333333pt;}
.w0{width:793.706667pt;}
.x0{left:24.666667pt;}
.x4{left:34.000000pt;}
.x5{left:92.020000pt;}
.x1{left:154.120000pt;}
.x2{left:272.098667pt;}
.x8{left:581.580000pt;}
.x7{left:587.450667pt;}
.x6{left:599.962667pt;}
.xf{left:607.572000pt;}
.x11{left:612.740000pt;}
.x12{left:617.905333pt;}
.x3{left:620.912000pt;}
.xb{left:623.436000pt;}
.xc{left:638.777333pt;}
.xa{left:640.309333pt;}
.xe{left:642.844000pt;}
.xd{left:645.872000pt;}
.x9{left:650.204000pt;}
.x10{left:707.405333pt;}
}
